<!DOCTYPE html>
<html>
<head>
    <title>Websocket Tests</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles/index.css"/>
</head>
<body>
    <div class="container">
        <h1>WebSocket Tests</h1>

        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h3>single click interaction</h3>
                        <button id="single-click-btn" type="button" class="btn btn-dark">send button message to websocket server</button>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <h3>dropdown interaction</h3>
                            <select class="form-control" id="dropdown">
                                <option value="one">1</option>
                                <option value="two">2</option>
                                <option value="three">3</option>
                            </select>
                        </div>
                        <button id="dropdown-submit" type="button" class="btn btn-dark">send dropdown message to websocket server</button>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h3>send multiple messages at once</h3>
                        <button id="multiple-click-btn" type="button" class="btn btn-dark">send multiple clicks to websocket server</button>
                    </div>
                </div>
            </div>
            <hr class="col-12">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h3>send x y messages</h3>
                        <div id="xyMap"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/scripts/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>